<div class="navbar navbar-light bg-light">
  <h4 class="navbar-brand"><%= link_to "Wikinimous", articles_path %></h4>
  <button type="button" class="btn btn-light"><%= link_to "new article", new_article_path %></button>
</div>
<br>
<div class="container">
  <h2> New article</h2>
  <%= render "form", article: @article %>
  <br>
  <%= link_to "Back", articles_path %>
</div>

